body {
    font-family: proxima-nova, sans-serif;
    color: #de473e;
}
.container-fluid {
    text-align: center;
}
#uneaten {
    background: #de473e;
    background: url(../img/dan-gold-E6HjQaB7UEA-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    color: #efe6db;
}
#devoured {
    background: #efe6db;
    background: url(http://api.thumbr.it/whitenoise-361x370.png?background=efe6dbff&noise=626262&density=30&opacity=10) repeat;
    color: #de473e;
}
#uneaten, #devoured {
	padding: 40px;
}
h1, h2, h3, .btn {
	font-family: salvation, sans-serif;
}
h2 {
    font-size: 22px;
    margin: 20px 0;
}
p.pre {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 14px;
    margin-bottom: 10px;
    color: #f96158;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    padding: 30px 20px;
    text-align: center;
    margin-bottom: 10px;
}
.form-group {
    display: inline;
}
a.btn.btn-primary {
    background: #de473e;
    border: none;
    border-radius: 50px;
    color: #efe6db;
    padding: 14px 24px 12px;
    font-size: 17px;
    margin-top: 8px;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
	background: #de473e;
	border: none;
}
.btn-primary.focus, .btn-primary:focus {
	box-shadow: none!important;
}
#devoured li {
    padding: 10px 20px;
}
#devoured h3 {
    font-size: 20px;
}
header {
    padding: 60px 15px 45px;
}
h1 {
    max-width: 280px;
    margin: 0 auto 40px;
}
form input, form button {
    height: 50px;
    border: 0;
}
input {
	background: transparent;
	color: #de473e;
}
input:focus {
    outline: none;
}
form.create-form {
    width: auto;
    background: #efe6db;
    display: inline-block;
    padding-left: 25px;
    border-radius: 50px;
    overflow: hidden;
}
button.btn.btn-primary {
    padding: 6px 25px;
    border-radius: 50px;
    background: #de473e;
    border: none;
    color: #efe6db;
    margin-top: -2px;
}
a.btn.btn-primary:hover, button.btn.btn-primary:hover {
	background: #da3027;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #de473e;
  opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #de473e;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #de473e;
}
section#devoured h2 {
    margin-bottom: 40px;
}
.alert {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-size: 14px;
    padding: 10px;
}


@media screen and (max-width: 575px) {
	form.create-form {
	    width: 100%;
	    background: transparent;
	    display: block;
	    padding-left: 0;
	    border-radius: 0;
	    overflow: visible;
	}
	.form-group {
	    display: block;
	}
	input {
	    background: #efe6db;
	    padding: 0 20px;
	    border-radius: 50px;
	    width: 70%;
	}
	header h2 {
	    margin: 12px 0;
	}
	#uneaten, #devoured {
	    padding: 40px 15px 30px;
	}
}
